AUTH_SECRET="AUTH_SECRET" # Added by `npx auth`. Read more: https://cli.authjs.dev
API_CLIENT_SECRET=API_CLIENT_SECRET
NEXT_PUBLIC_API_CLIENT_ID=NEXT_PUBLIC_API_CLIENT_ID
NEXT_PUBLIC_API_URL=NEXT_PUBLIC_API_URL
NEXTAUTH_URL=NEXTAUTH_URL
AUTH_TRUST_HOST=true
NEXT_PUBLIC_API_VERSION=NEXT_PUBLIC_API_VERSION
